*{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    margin: 10px 15%;
    justify-content: space-between;
    height: 50px;
    /* border: 1px solid red; */
}
.logo{
    /* width: 50%; */
}
.header-btns{
    /* width: 50%; */

}
header >ul>li>img{
    display: none;
}
.logo >img{
    width: 50%;
    height: 100%;
}

ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    /* border: 1px solid green; */
    flex-direction: row;
    height: 100%;
    width: 30%;
    justify-content: space-between;
}
a{
    text-decoration: none;
    color: black;
    font-weight: bold;
	font-style: normal;
	font-size: medium;
}
li{
/* align-items: center; */
/* margin-left: 5%; */
}
li > button {
    border-radius: 40px;
    width: 90px;
    padding: 8px;
    font-weight: bold;
	font-style: normal;
	font-size: medium;
    color: white;
    border: none;
}
#signup{
    background-color: #4d6fb3;
    opacity: 0.7;
}
#login{
    background-color: green;
    opacity: 0.7;
}

.section1{
    background-color: rgb(231,249,253);
    /* background-color:#e8fffc; */
    /* width: 100%; */
    height: 450px;
    display: flex;
    padding: 10px  15%;
    justify-content: space-between;
    /* align-content: center; */
    /* align-items: center; */
    /* border: 1px solid red; */
}
.section1 > .left{
    width: 40%;
    padding-top: 80px;
    /* border: 1px solid red; */
}
.section1 > .right{
    width: 50%;
    /* border: 1px solid red; */
position: relative;
}
.section1 > .right> img{
    /* margin-top: 165px; */
position: absolute;
    /* margin-left: 19%; */
    /* margin-top: 21%; */
    bottom: -7%;
    right: 0;
    padding: 0;
    margin: 0;
    /* width: 81%; */

}
#heading1{

    font-size: xx-large;
    font-weight: lighter;
}
#subtext1{
    margin-top: 20px;
    text-align: left;
    font-size: 400;
    font-weight: lighter;
}


.section2{
    background-color:#fff;
    /* width: 100%; */
    height: 350px;
    margin-top: 5%;
    display: flex;
    padding: 10px 15%;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}
.section2 > .left{
    width: 50%;
    /* border: 1px solid red; */
}
.section2 > .right{
    width: 50%;
    /* border: 1px solid red; */

}
.section2 > .left> img{
    /* margin-top: 165px; */

    /* margin-left: 19%; */
    /* margin-top: 30%; */
    width: 50%;
    height: 50%;

}
#heading2{
    font-size: xx-large;
    font-weight:lighter;
}
#subtext2{
    margin-top: 30px;
    text-align: left;
    font-size:small;
    font-weight: lighter;
}

.section3{
    background-color:#fff;
    /* width: 100%; */
    height: 300px;
    display: flex;
    padding: 10px 15%;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}
.section3 > .left{
    width: 40%;
    /* border: 1px solid red; */
}
.section3 > .right{
    width: 40%;
    /* border: 1px solid red; */

}
.section3 > .right> img{
    /* margin-top: 165px; */

    /* margin-left: 19%; */
    /* margin-top: 30%; */
    width: 100%;
    /* height: 40%; */

}
#heading3{
    font-size: xx-large;
    font-weight:lighter;
}
#subtext3{
    margin-top: 30px;
    text-align: left;
    font-size:small;
    font-weight: lighter;
}
.footer{
    height: 520px;
    background-color: #eeeeee;
    /* opacity: 0.5; */
    /* display: flex; */
}
.footer >.part1{
    /* padding-top: 40px; */
    display: flex;
    justify-content: space-between;
    padding: 80px 15% 20px 15%;
}
.footer >.part1 > .left{
width: 50%;
}
.footer >.part1 > .left > h2{
color: #89b7dd;
font-size: x-large;
font-weight:bold;


}
.footer >.part1 > .left > p{
    margin-top: 10px;
}

.footer >.part1 > ul{
width: 35%;
list-style-type: none;
display: flex;
justify-content: space-between;
align-items: center;

}
.footer >.part1 > ul > li >img{
width: 20px;
background-color: white;
padding: 10px;
/* margin: 5px; */
border: none;
border-radius:50% ;
}

hr{
    margin:0 15%;
}
.footer >.part2 >.left{
    padding: 50px 15%;
display: flex;
justify-content:space-between;
align-items: center;
}

.footer >.part2 >.left> img{
    width: 20%;
}
.footer >.part2 >.left >div >a{
padding : 10px;
text-decoration: none;
font-size: 300;
font-weight:600;
}
.footer >.part2 >.right{
    padding: 10px 15%;
}
.footer >.part2 >.right > address{
width: 25%;
margin: 20px 0;
}
.footer >.part2 >.right>.inline-flex{
/* padding-left:  300px; */
/* right: ; */
display: flex;
justify-content: space-between;
}


@media (max-width: 480px) {
    body {
        /* background-color: red; */
    }
    header{
        margin: 10px 4%;
    }
    header >ul>li>a {
        display: none;
    }
    header >ul>li> #signup{
        display: none;
    }
    header >ul>li>img{
        display: block;
        width: 30px;
    }

    header >ul>li > #login{
        display: block;
        /* background-color: #4d6fb3; */
        background-color: #4d6fb3 ;
        opacity: 0.7;
    }
    
    .section1{
        display: flex;
        flex-direction: column;
    }

    .section2{
        display: flex;
        flex-direction: column;
    }

    .section1 > .right> img{
        margin-top: 15px;
    position: absolute;
        /* margin-left: 19%; */
        /* margin-top: 21%; */
        bottom: -12px;
        right: 50%;
        transform: translate(40%);
        /* padding: 0; */
        /* margin: 0; */
        width: 200px;
        /* align-items: center; */
        /* align-content: center; */
    
    }
    .section1{
        background-color: rgb(231,249,253);
        /* background-color:#e8fffc; */
        /* width: 100%; */
        height: 450px;
        display: flex;
        flex-direction:column;
        padding: 10px  4% 0 4%;
        /* justify-content:space-arou; */
        
    }
    .section1 > .left{
        width: 100%;
        padding-top: 20px;
        /* border: 1px solid red; */
    }
    .section1 > .right{
        width: 100%;
        /* border: 1px solid red; */
    position: relative;
    /* margin: 10px; */

    }
    .footer > .part1 > ul{
        display: none;
    }
    

    .section2{
        /* border: 1px solid red; */
        background-color:#fff;
        /* width: 100%; */
        height: 450px;
        /* margin-top: 5%; */
        display: flex;
        flex-direction: column;
        padding: 10px 4% 10px 4%;
        /* justify-content: space-between; */
        /* align-content: center; */
        /* align-items: center; */
    }
    .section2 > .left{
        width: 50%;
        /* position: relative; */
        /* border: 1px solid red; */
    }
    .section2 > .right{
        width: 100%;
        /* border: 1px solid red; */
    
    }
    .section2 > .left> img{
        /* margin-top: 165px; */
    
        /* margin-left: 19%; */
        /* margin-top: 30%; */
        width: 90%;

        height: 90%;
        /* position: absolute; */
        margin-left: 1%;
        margin-top: 5%;
        /* bottom: -12px; */
        /* right: 50%; */
        /* top: 50px; */
        /* transform: translate(40%); */
    
    }
    #heading2{
        font-size: x-large;
        font-weight:lighter;
    }
    #subtext2{
        margin-top: 10px;
        text-align: left;
        font-size:small;
        font-weight: lighter;
    }
    

.section3{
    background-color:#eee;
    /* width: 100%; */
    /* height: 300px; */
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column-reverse;
    padding: 10px 4% 0 4%;
    /* justify-content: space-between; */
    /* align-content: center; */
    /* align-items: center; */
}
.nospace{
    justify-content: center;
}
.section3 > .left{
    width: 100%;
    /* border: 1px solid red; */
}
.section3 > .right{
    width: 50%;
    /* border: 1px solid red; */

}
.section3 > .right> img{
    /* margin-top: 165px; */

    margin-left: 1%;
    margin-top: 5%;
    width: 90%;
    height: 90%;

}
#heading3{
    font-size: x-large;
    font-weight:lighter;
}
#subtext3{
    margin-top: 10px;
    text-align: left;
    font-size:small;
    font-weight: lighter;
}
.footer{
    height: 540px;
    background-color: #eeeeee;
    /* opacity: 0.5; */
    /* display: flex; */
}
.footer >.part1{
    /* padding-top: 40px; */
    display: flex;
    justify-content: space-between;
    padding: 50px 4% 20px 4%;
}
.footer >.part1 > .left{
width: 100%;
}
.footer >.part1 > .left > h2{
color: #89b7dd;
font-size: x-large;
font-weight:bold;


}
.footer >.part1 > .left > p{
    margin-top: 10px;
}

.footer >.part1 > ul{
display: none;

}

hr{
    margin:0 4%;
}
.footer >.part2{
    /* height: fit-content; */
}
.footer >.part2 >.left{
    padding: 30px 4%;
display: flex;
justify-content:space-between;
flex-direction: column;
align-items: flex-start;
/* width: 100%; */
}

.footer >.part2 >.left> img{
    width: 50%;
}
.footer >.part2 >.left >div{
    margin-top: 40px;
}
.footer >.part2 >.left >div >a{
padding : 10px;
text-decoration: none;
font-size: 300;
font-weight:600;
}
.footer >.part2 >.right{
    padding: 10px 4%;
}
.footer >.part2 >.right > address{
width: 50%;
margin: 20px 0;
}
.footer >.part2 >.right>.inline-flex{
/* padding-left:  300px; */
/* right: ; */
/* margin-top: 30px; */
display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items:flex-start;
}
.footer >.part2 >.right>.inline-flex> div{
margin-top: 15px;
}
}
  